@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,600;0,800;1,800&family=Barlow:wght@300;400;500&family=Unbounded:wght@900&display=swap');
:root{
    --white:#FFFFFF;
    --green:#C8F53A;
    --ff-hero: 'Unbounded', sans-serif; /* main hero headline and the CTA big text*/
    --ff-cond: 'Barlow Condensed', sans-serif; /*section titles, program names, pricing, nav labels*/
    --ff-body: 'Barlow', sans-serif; /*body text, descriptions, and paragraphs.*/
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}