.ctaText{
    font-family: var(--ff-hero);
    font-size: 8rem;
    color:var(--white);
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    margin-top:0 ;
    margin-bottom: 0;
}
.live{
    color: var(--green);
}
.harder{
    -webkit-text-stroke: 1.5px var(--grey);
    color: transparent;
}